
@{
    ViewData["Title"] = "Index";

}

<h2>Welcome to your mail</h2>
<h2>@TempData["sendmail"]</h2>




<form action="/Mail/sendmail" method="post" class="form-group">


    <label>Title</label>
    <input type="text" name="title" class="form-control" />
    <br />

    <label>Message</label>
    <textarea name="message" class="form-control" rows="4"></textarea>
    <br />

    <input type="submit" value="Send" class="btn btn-primary" />

</form>